groq
duckduckgo-search
newsapi-python
yfinance>=0.2.36
textblob
pandas
streamlit
plotly
python-dotenv
numpy
pdfplumber
pandas-ta
feedparser
streamlit-autorefresh
beautifulsoup4
requests
gymnasium
stable-baselines3
